.movie-column, .seat-column, .slot-column {
    display: inline-block;
    margin: 3px;
    color: rgb(0, 0, 0);
    border: 1px rgb(0, 0, 0) ridge;
    padding: 10px 12px;
    line-height: 1px;
    border-radius: 5px;
    background-color: white;

}

.movie-row, .seat-row, .slot-row {
    border-radius: 10px;
    border: 1px black ridge;
    padding: 10px;
    margin-bottom:10px;

}

.seat-column {
    min-width: 100px;
    text-align: center;
    padding-bottom: 15px;
    
}

.book-button {
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    background: rgb(44, 209, 88);
    background: -moz-linear-gradient(233deg, rgba(44, 209, 88, 1) 0%, rgba(44, 108, 224, 1) 100%);
    background: -webkit-linear-gradient(233deg, rgba(44, 209, 88, 1) 0%, rgba(44, 108, 224, 1) 100%);
    background: linear-gradient(233deg, rgba(44, 209, 88, 1) 0%, rgba(44. 108. 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2cd158", endColorstr="#2c6ce0", GradientType=1);
    padding: 5px 15px;
    font-weight: 500;
    cursor:pointer; 
}

.movie-column-selected, .seat-column-selected, .slot-column-selected {
    background: rgb(211, 115, 115);

}

input{
    width:50px;
    border-color:rgb(196, 196, 196);
    border-width: 1px;
}

.last-order {
    border-radius: 10px;
    border: 1px black ridge;
    padding: 10px;
    height: max-content;
    width: 300px;
    line-height: 10px;
    margin-left: 20px;

}


@media only screen and (max-width: 500px) {
    .seat-column {
        min-width: auto;
        width: 100%;
        text-align:left;
        padding-bottom: 10px;
    }

    .book-button {
        width:100%;
}

.last-order{
    width: 100%;
    margin:20px auto;

}



.mflex{
    display: flex;
    flex-direction: column;


  }
}